<div *ngIf="student">

    <h2>{{student.name | uppercase}} Details</h2>
    <div><span>id: </span>{{student.id}}</div>
    <div>
      <label for="student-name">Student name: </label>
      <input id="student-name" [(ngModel)]="student.name" placeholder="name">
    </div>
    <div>
      <label for="student-age">Student age: </label>
      <input id="student-age" [(ngModel)]="student.age" placeholder="age">
    </div>
    <div>
      <label for="student-sex">Student sex: </label>
      <input id="student-sex" [(ngModel)]="student.sex" placeholder="sex">
    </div>
    <div>
      <label for="student-course">Student course: </label>
      <input id="student-course" [(ngModel)]="student.course" placeholder="course">
    </div>
  </div>